/*---Большие девайсы (большие десктопы, < 1200px)-----*/
@media (max-width: 1199px) {
  .nav__links li:hover:after {
    display: none;
  }

  .nav__links li {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .card__container--products {
    justify-content: space-between;
  }

  .card__container--products.active {
    height: 370px;
  }

  .card__container--products .card__content {
    padding: 40px 20px;
    justify-content: space-between;

  }

  .card__container--products .card__content-title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .card__container--products .card__content-text {
    font-size: 16px;
  }

  .card__container--products .card__content-list {
    font-size: 16px;
  }

  .card__video-container {
    width: 476px;
    height: 369px;
  }

  .card__container--description.active {
    height: 369px;
  }

  .card__content--description {
    gap: 10px;
  }

  .card__logo-container--description {
    width: 160px;
    height: 112px;
  }

  .card__elem--work {
    width: 230px;
  }

  .card__elem-text--work {
    height: 90px;
  }

  .about__advantages-block {
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    justify-items: center;
  }


}

/*---Средние девайсы («таблетки», < 992px)-----*/
@media (max-width: 991px) {
  .header__nav-container {
    height: 115px;
  }

  .header__nav-container .buttons-block {
    flex-wrap: wrap;
    padding: 10px 0;
    width: min-content;
  }

  .header__image {
    top: 115px;
  }

  .header__main-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    height: 880px;
    align-items: flex-start;
  }

  .header__content-container {
    margin-right: 0;
  }

  .header__advantage {
    align-items: center;
  }

  .header__advantage-text {
    text-align: center;
  }

  .header__image {
    height: 880px;
  }

  .header__image img:first-child {
    width: 100%;
  }

  .header__image img:last-child {
    display: none;
  }


  .services-popup__content {
    padding: 25px;
    height: auto;
  }

  .services-popup__bid-block {
    justify-self: start;
    align-self: center;
  }

  .services-popup .button {
    width: auto;

  }

  .services-popup__close {
    top: 20px;
    right: 20px;
  }

  .services-popup__sentence-block {
    gap: 10px;
  }

  .services-popup__sentence-container:nth-child(odd) {
    margin-right: 10px;
  }

  .services__container {
    margin-bottom: 40px;
  }


  .card__container--products.active {
    height: 270px;
  }

  .card__container--products .card__content {
    padding: 20px;
    justify-content: space-between;
  }

  .card__container--products .card__content-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .card__container--products .card__content-text {
    font-size: 14px;
  }

  .card__container--products .card__content-list {
    font-size: 14px;
  }

  .card__video-container {
    width: 381px;
    height: 295px;
  }

  .card__container--description.active {
    height: 295px;

  }

  .card__content--description {
    padding: 20px;
  }

  .card__logo-container--description {
    width: 128px;
    height: 90px;
  }

  .card__text--description {
    width: 270px;
    font-size: 14px;
  }


  .card__content--work {
    padding-top: 20px;
    height: auto;
  }

  .card__title--work {
    margin-bottom: 20px;
  }

  .card__list--work {
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-evenly;
  }

  .card__elem--work {
    width: 250px;
  }

  .card__elem-text--work {
    height: 56px;
  }

  .card__client-block {
    flex-wrap: wrap;
  }

  .card__client-name {
    margin-right: 0;
  }

  .card__container--certificates.active {
    padding: 0 30px;
    min-height: 350px;
  }

  .certificates-slider .slick-arrow.slick-next {

    right: -25px;
  }

  .certificates-slider .slick-arrow.slick-prev {

    left: -25px;
  }

  .questions__content {
    padding: 30px;
  }

  .contacts-block__bg {
    display: none;
  }


}

/*---Малые девайсы («ландшафтные», < 768px)-----*/
@media (max-width: 767px) {
  .nav__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
  }

  .nav__links li + li {
    margin-left: 0;
  }

  .nav__links li {
    text-align: center;
  }

  .nav__links li:last-child {
    grid-column: span 2;
    text-align: center;
  }


  .request-popup__content {
    width: 395px;
    height: 300px;
    padding: 20px 10px;
  }

  .request-popup__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .request-popup__ico {
    margin-right: 15px;
  }

  .request-popup__close {
    right: 10px;
    top: 16px;
  }

  .request-popup__form {
    padding: 0 30px;
  }

  .request-popup__inputs input {

    width: 315px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
  }

  .checkbox-container input {
    width: 30px;
    height: 30px;
    margin-right: 30px;
  }

  .services-popup__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
  }

  .services-popup__carousel-block {
    margin: 0;
  }

  .services-popup__bid-block {
    padding-top: 0;
  }

  .services__container {
    margin-bottom: 20px;
  }

  .products__content {
    width: 430px;
  }

  .card__container--products.active {
    justify-content: center;
  }

  .products__content .card__img {
    display: none;
  }

  .card__container--products .card__content-list {
    line-height: 200%;
  }

  .bookmark {
    height: 34px;
    font-size: 16px;
    padding: 10px 20px;
  }

  .products__container svg {
    top: 60%;
  }

  .card__video-container {
    width: 280px;
    height: 265px;
  }

  .card__container--description.active {
    height: 265px;

  }

  .card__logo-container--description {
    width: 80px;
    height: 55px;
  }

  .card__text--description {
    width: 230px;
    font-size: 14px;
    text-align: justify;
  }

  .bookmark--about {
    font-size: 14px;
  }

  .card__client-block {
    margin-right: 230px;
    margin-bottom: 30px;
    gap: 5px;
  }

  .button--reviews {
    height: 40px;
    max-width: 180px;
    font-size: 14px;
  }

  .card__review {
    font-size: 14px;
  }

  .card__container--reviews.active .prev {
    top: 60%;
  }

  .card__container--reviews.active .next {
    top: 60%;
  }

  .about__advantages-block {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    column-gap: 10px;
    justify-items: center;
    padding: 40px 0 30px;
  }

  .about__advantage-card {
    column-gap: 10px;
  }

  .about__advantage-img img {
    width: 100%;
  }

  .about__advantage-text {
    width: 160px;
    font-size: 12px;
  }

  .about__advantage-title {
    font-size: 12px;
  }

  .questions__title {
    margin-bottom: 15px;
  }

  .contacts-block__edification {
    max-width: 100%;
    margin-top: 15px;
  }

  .contacts-block__socials {
    align-self: center;
    width: 133px;
  }

  .contacts-block__content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .contacts-block__questions {
    padding: 30px 40px;
    height: auto;
  }
}

/*---Экстрамалые девайсы («телефоны», < 576px)-----*/
@media (max-width: 575px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .header__burger span {
    background-color: #EF7F04;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 10px;
    transform: scale(1) translate(0px, -50%);
    transition: all 0.3s ease-out;
  }

  .header__burger.active span {
    transform: scale(0) translate(0px, -50%);
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #EF7F04;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease-out;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger.active:before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:after {
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, 50%);
  }

  .nav__links {
    position: absolute;
    top: -1000%;
    left: calc(50% - 110px);
    background-color: rgba(242, 242, 242, 0.8);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    padding: 20px;
    overflow: auto;
    transition: all 0.3s ease-out;

  }

  .nav__links.active {
    top: 90px;
  }

  .services-popup__content {
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
  }

  .services-popup__content img {
    width: 100%;
  }

  .services-popup__content:after {
    width: 100%;
  }

  .services-popup__carousel-block img {
    height: 100%;
  }

  .services-popup__sentence-block {
    width: 380px;
    height: 100px;
    order: 1;
    display: flex;
  }

  .services-popup__bid-block {
    order: 2;
  }

  .services-popup__sentence-container {
    position: absolute;
    animation: sentenceround 24s infinite;
    opacity: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    transform: translate(0%, 0%);
  }

  @keyframes sentenceround {
    10% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  .services-popup__sentence-container:nth-child(1) {
    animation-delay: 20s
  }

  .services-popup__sentence-container:nth-child(2) {
    animation-delay: 16s
  }

  .services-popup__sentence-container:nth-child(3) {
    animation-delay: 12s
  }

  .services-popup__sentence-container:nth-child(4) {
    animation-delay: 8s
  }

  .services-popup__sentence-container:nth-child(5) {
    animation-delay: 4s
  }

  .services-popup__sentence-container:nth-child(6) {
    animation-delay: 0s
  }

  .services-popup__sentence-logo {
    flex: 0 0 auto;
    margin: auto 17px auto auto;
  }

  .services-popup__sentence-card {
    justify-content: center;
  }

  .products__container {
    padding: 10px;
  }

  .products__container svg {
    display: none;
  }

  .bookmarks {
    gap: 6px;
  }

  .bookmark {
    font-size: 16px;
    padding: 6px 15px;
    height: 30px;
  }


  .card__video-container {
    display: none;
  }

  .card__container--description.active {
    height: 265px;
  }

  .card__content--description {
    padding: 10px;
  }

  .card__text--description {
    margin-left: 0;

  }

  .bookmark--about {
    font-size: 14px;
    white-space: nowrap;
  }

  .card__content--work {
    height: 350px;
  }

  .card__list--work {
    position: relative;
  }

  .card__elem--work {
    position: absolute;
    animation: elem-work-round 20s infinite;
    opacity: 0;
    width: 250px;
    height: 200px;
    top: 25px;
    transform: translate(0%, 0%);
  }

  @keyframes elem-work-round {
    10% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  .card__elem--work:nth-child(1) {
    animation-delay: 16s
  }

  .card__elem--work:nth-child(2) {
    animation-delay: 8s
  }

  .card__elem--work:nth-child(3) {
    animation-delay: 4s
  }

  .card__elem--work:nth-child(4) {
    animation-delay: 0s
  }


  .card__content--reviews.active {
    padding: 120px 25px 20px 35px;
  }

  .button--reviews {
    top: 40px;
    right: 50%;
    transform: translate(50%, 0);

  }

  .card__container--reviews.active .prev {
    left: 5px;
    width: 15px;
    height: 30px;
  }

  .card__container--reviews.active .next {
    right: 5px;
    width: 15px;
    height: 30px;
  }

  .card__client-block {
    margin: 0 -10px 15px;

    column-gap: 15px;

  }


}


/*---Куда уж меньше  («маленькие телефоны», < 480px)-----*/
@media (max-width: 479px) {
  .header {
    margin-bottom: 40px;
  }

  .logo {
    margin-right: 0;
  }

  .header__nav-container .buttons-block {
    margin-right: 10px;

  }

  .header__nav-container .button p {
    display: none;
  }

  .nav__links {
    left: calc(50% - 60px);
  }

  .header__main-container {
    padding: 30px 15px 40px;
  }

  .header__content-container {
    width: 100%;
  }

  .header__advantage-block {
    position: relative;
    height: 160px;
  }

  .header__advantage {
    position: absolute;
    animation: round 12s infinite;
    opacity: 0;
    width: 100%;
    bottom: 90px;
    transform: translate(0%, 50%);
  }

  @keyframes round {
    25% {
      opacity: 1
    }
    40% {
      opacity: 0
    }
  }
  .header__advantage:nth-child(1) {
    animation-delay: 8s
  }

  .header__advantage:nth-child(2) {
    animation-delay: 4s
  }

  .header__advantage:nth-child(3) {
    animation-delay: 0s
  }

  .header__advantage-text {
    width: 60%;
  }

  .header__title {
    text-align: center;
    font-size: 22px;
    line-height: 160%;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .header__title span {
    display: block;
    margin-right: auto;
    text-align: left;
  }

  .header__title br {
    display: none;
  }

  .header__froze-container {
    width: 100%;
    padding: 40px 15px;
  }

  .froze__title {
    text-align: center;
    font-size: 22px;
  }

  .froze__inputs label {
    width: 100%;

  }

  .froze__inputs input {
    width: 100%;
    height: 40px;
  }

  .froze__checkbox-container {
    height: 60px;
  }

  .froze__checkbox-container input {
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .froze__roulette-img {
    display: none;
  }

  .header__image img:first-child {
    width: auto;
    left: -250px;
  }

  .request-popup__content {
    width: 260px;
    height: 300px;
    padding: 20px 10px;
  }

  .request-popup__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }

  .request-popup__ico {
    margin-right: 15px;
  }

  .request-popup__close {
    right: 10px;
    top: -30px;
  }

  .request-popup__inputs input {
    width: 240px;
    height: 30px;
    padding: 0 20px;
  }

  .request-popup__form {
    padding: 0;
  }

  .checkbox-container input {
    flex: 1 1 auto;
    width: 40px;
    height: 30px;
    margin-right: 10px;
  }

  .services__content-container {
    padding: 25px;
    width: 100%;
  }

  .services__content {
    width: 100%;


  }

  .services__title {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .services__content-title {
    font-size: 18px;
  }

  .services__content-text {
    text-shadow: 2px 2px 2px white;
  }

  .services__content-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }

  .services-popup__content {
    padding: 50px 10px 20px;
  }

  .services-popup__carousel-block {
    width: 250px;
    height: 187px;
  }

  .services-popup__sentence-block {
    width: 250px;
    height: 130px;
    order: 1;
    display: flex;
  }

  .services-popup__background-img {
    width: 100%;
  }

  .services-popup__bid-block {
    align-items: center;
  }

  .services-popup__title {
    text-align: center;
  }

  .services-popup__text {
    text-align: center;
  }

  .services-popup__bid-block .buttons-block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .slider-element img {
    border-radius: 10px;
  }

  .products__content {
    width: 100%;
  }

  .bookmarks {
    flex-wrap: wrap;
    gap: 4px;
  }

  .bookmark {
    font-size: 14px;
    padding: 4px 10px;
    height: 24px;
  }

  .card__container--products .card__content {
    width: auto;
  }

  .card__container--products .card__content-title {
    font-size: 16px;
  }

  .card__container--products .card__content-text {
    font-size: 12px;
    width: 100%;
  }

  .card__container--products .card__content-list {
    font-size: 14px;
  }

  .card__container--products .card__content-elem div:last-child {
    width: 30%;
  }

  .card__container--products .card__content-list span {
    display: none;
  }

  .products__container {
    min-height: auto;
    margin-bottom: 30px;
  }

  .products__schtandart {
    min-height: 400px;
    margin-bottom: 30px;
  }

  .products__schtandart-title {
    margin-bottom: 20px;
  }

  .products__schtandart-elem {
    position: absolute;
    animation: productsRound 20s infinite;
    opacity: 0;
    width: 60%;
    transform: translate(0%, 0%);
    bottom: 55px;
  }

  @keyframes productsRound {
    25% {
      opacity: 1
    }
    40% {
      opacity: 0
    }
  }
  .products__schtandart-elem:nth-child(1) {
    animation-delay: 16s
  }

  .products__schtandart-elem:nth-child(2) {
    animation-delay: 12s
  }

  .products__schtandart-elem:nth-child(3) {
    animation-delay: 8s
  }

  .products__schtandart-elem:nth-child(4) {
    animation-delay: 4s
  }

  .products__schtandart-elem:nth-child(5) {
    animation-delay: 0s
  }


  .card__content--reviews.active {
    padding-top: 100px;
  }

  .button--reviews {
    top: 30px;
  }

  .card__review {
    font-size: 12px;
  }

  .about__container {
    min-height: auto;
  }

  .about__container .button--froze {
    max-width: 312px;
    font-size: 14px;
    margin: 30px auto;
  }

  .about__advantages-block {
    display: none;
  }

  .questions__container {
    margin-bottom: 30px;
  }

  .questions__content {
    padding-right: 15px;
    padding-left: 15px;
  }

  .questions__question.active:before {
    right: 20px;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .questions__question.active:after {
    right: 12px;
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }

  .questions__question:before {
    right: 21px;
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }

  .questions__question:after {
    right: 10px;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .questions__question {
    font-size: 14px;
    padding: 20px 40px 20px 10px;
    text-align: center;
  }

  .questions__question.active p {
    font-size: 14px;
    margin-top: 10px;
  }

  .contacts-block__content {
    padding: 10px 0 20px;
  }

  .contacts-block__title {
    margin-bottom: 10px;
  }

  .contacts-block__questions {
    padding: 20px;
  }

  .contacts-block__button {
    width: 100%;
  }

  .footer {
    font-size: 12px;
    height: 70px;
  }

  .message-popup {
    width: 90%;
  }

}
