/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

/*--
img {
    vertical-align: top;
}
--*/
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;


}

/*--------Общее---------------------------------------------------------*/
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

body {
  position: relative;
  background-color: #E5E5E5;
  z-index: -1;
}

body.block {
  overflow: hidden;
}

.section__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}


/*---------Шапка------------------------------------------------------------*/
header {
  position: relative;
  background-color: white;
  margin-bottom: 35px;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 97px;
}

.logo {
  margin-right: 20px;
}

.header__burger {
  display: none;
}

.nav__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 19px;
  margin-right: 20px;
  white-space: nowrap;
  z-index: 100;
}

.nav__links li + li {
  margin-left: 36px;
}

li {
  position: relative;
}

.nav__links li:hover {
  color: #EF7F04;
}

.nav__links li:hover:after {
  content: '';
  width: 100%;
  position: absolute;
  top: -40px;
  left: 0;
  border: 4px solid #EF7F04;
}

.buttons-block {
  display: flex;
  gap: 14px;
}

.button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  line-height: 115%;
  color: #FFFFFF;
  background: #3B3A63;
  border-radius: 3px;
  max-width: 100%;
  height: 40px;
  padding-right: 17px;
  padding-left: 15px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 30;

}

.button img + p {
  margin-left: 15px;
}

.button--froze {
  background: #EF7F04;
}

.header__image {
  position: absolute;
  width: 100%;
  height: 562px;
  display: flex;
  top: 97px;
  left: 0;
  z-index: 10;
}

.header__image:after {
  content: "";
  display: block;

  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(39, 37, 56, 0.95);
  mix-blend-mode: multiply;

}

.header__image img:first-child {
  width: 64%;
  left: 0;
  object-position: left;

}

.header__image img:last-child {
  width: 37%;
  left: 63.5%;
  object-position: right;
}

.header__main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 562px;
  padding-right: 50px;
  padding-left: 70px;
  /*padding: 70px 48px 0 69px;*/
  z-index: 10;
}

.header__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin-right: 20px;
}

.header__title {
  font-size: 36px;
  font-weight: 100;
  line-height: 115%;
  text-align: left;
  color: white;
  margin-bottom: 25px;
}

.header__title span {
  font-weight: 700;
  font-size: 24px;
  color: #EF7F04;
}

.header__advantage-block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header__advantage {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  color: white;
  font-size: 14px;
  line-height: 128%;
  width: 33%;
}

.header__advantage-img {
  height: 86px;
  margin-bottom: 20px;
}

.header__froze-container {
  width: 406px;
  height: 428px;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
  padding: 43px 40px 67px;

}

.froze__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.froze__title {
  font-size: 18px;
  font-weight: 700;
  color: #2F2F51;
}

.froze__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.froze__roulette-img {
  position: absolute;
  left: -130px;
  bottom: -127px;
}

.froze__inputs label + label {
  margin-top: 15px;
}

.froze__inputs input {
  width: 326px;
  height: 40px;
  background-color: #E2E2E2;
  padding: 12px 16px;
  color: #424268;
  font-size: 14px;
  border-radius: 3px;
}

.froze__inputs input::placeholder {
  color: #424268;
  font-size: 14px;
}

.froze__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  margin-bottom: 20px;
}

.froze__checkbox-container input {
  flex: 0 0 auto;
  width: 25px;
  height: 25px;
  margin-right: 9px;
}

.froze__checkbox-agree {
  color: black;
  font-size: 12px;
  line-height: 115%;
}

.checkbox-span--privacy {
  color: #4B67AF;
}

.froze__button input {
  width: 200px;
  height: 55px;
  color: white;
  background-color: #EF7F04;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

/*-----------MAIN---------------------------------------------------------------*/
.main {
  line-height: 115%;
  color: #2F2F51;
}

/*-----------SERVICES---------------------------------------------------------*/
.services__container {
  min-height: 622px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 100px;
}


.services__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
  gap: 10px;
  width: 100%;
}

.services__content-container {
  position: relative;
  padding: 50px;
  max-width: 595px;
  height: 268px;
  border-radius: 3px;
  cursor: pointer;
}

.services__content-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.services__content-container:hover .services__arrow path {
  stroke: #EF7F04;
}

.services__content-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  object-position: right;
}

.services__content-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%);
  z-index: 5;
  border-radius: 3px;
}

.services__arrow {
  position: absolute;
  z-index: 60;
  right: 30px;
  bottom: 25px;
}

.services__content {
  position: relative;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.services__content-title {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: 700;
  line-height: 115%;
  align-items: center;
  margin-bottom: 20px;
}

.services__content-logo {
  margin-right: 25px;
}

/*--------------PRODUCTS ------------------------------------------------------*/
.products__container {
  min-height: 1107px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 80px 0;
  margin-bottom: 100px;
}

.products__content {
  position: relative;
  margin-bottom: 54px;
}

.bookmarks {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  gap: 10px;
}

.bookmark {
  display: inline-block;
  height: 40px;
  font-weight: 700;
  font-size: 18px;
  color: #2F2F51;
  padding: 12px 26px 10px 26px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.bookmark.active {
  background-color: #EF7F04;
  color: white;
}

.card__container {
  display: none;

}

.card__container--products.active {
  max-width: 1145px;
  height: 461px;
  display: flex;
  background-color: white;

}

.card__container--products .card__img {
  max-width: 567px;
  height: 100%;

}

.card__container--products .card__img img {
  width: 100%;
  height: 100%;
  user-select: none;
  object-fit: cover;
}

.card__container--products .card__content {
  width: 578px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 74px 32px 50px;

}

.card__container--products .card__content-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #EF7F04;
  margin-bottom: 45px;
  user-select: none;
}

.card__container--products .card__content-text {
  font-weight: 400;
  font-size: 18px;
  color: #2F2F51;
  line-height: 120%;
  width: 75%;
  margin-bottom: auto;
  user-select: none;
}

.card__content-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 220%;
  color: #2F2F51;

}

.card__content-elem {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: pre;
  user-select: none;

}

.card__content-elem div:last-child {
  width: 22%;
}

.card__content-elem span {
  font-weight: 400;
  color: #cfcfcf;
}

svg {
  position: absolute;
  transform: translate(0, -50%);
  cursor: pointer;
}

svg.active path {
  stroke: black;
}

svg.active:hover path {
  stroke: #EF7F04;
}

.products__container .prev {
  transform: translate(-100%, -50%);
  left: -28px;
  top: 55%;
}

.products__container .next {
  right: -28px;
  transform: translate(100%, -50%);
  top: 55%;
}

.products__schtandart {
  position: relative;
  width: 100%;
  min-height: 436px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 36px 20px 20px;
  margin-bottom: 56px;
}

.products__schtandart-image {
  position: absolute;
  width: 100%;
  height: 100%;

}

.products__schtandart-image img {
  position: absolute;
  top: -36px;
  width: 100%;
  height: 100%;
}

.products__schtandart-image:after {
  content: "";
  display: block;
  position: relative;
  max-width: 1200px;
  min-height: 100%;
  top: -36px;
  background: rgba(39, 37, 56, 0.95);
  mix-blend-mode: multiply;
}

.products__schtandart-title {
  position: relative;
  z-index: 30;
  margin-bottom: 50px;
}

.products__schtandart-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.products__schtandart-elem {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.products__schtandart-text {
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: white;

}

.products__container .button {
  width: 256px;
  height: 55px;
  justify-content: center;
  font-size: 16px;
}

/*-----------------ABOUT---------------------------------------------------------*/
.about__container {
  min-height: 1094px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 85px;
  padding-top: 20px;
}

.about__content {
  width: 100%;
}

.card__video-container {
  position: relative;
  width: 595px;
  height: 461px;
  flex: 0 0 auto;
}

.card__video {
  width: 100%;
  height: 100%;
}

.card__video-poster {
  display: none;

}

.card__video-poster.active {
  display: block;
  width: 100%;
  height: 100%;

}

.card__video-play {
  display: none;
}

.card__video-play.active {
  display: block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.card__container--description.active {
  height: 461px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.card__content--description {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: 60px;
  padding: 46px 50px 30px;


}

.card__logo-container--description {
  width: 200px;
  height: 140px;
  align-self: flex-start;
}

.card__logo--description {
  width: 100%;
  height: 100%;
}

.card__text--description {
  width: 300px;
  height: 100%;
  align-self: flex-end;
  margin-left: auto;
}

.card__container--work.active {
  display: block;
  width: 100%;
}

.card__content--work {
  width: 100%;
  height: 461px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 68px 20px 30px;
}

.card__title--work {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 70px;
}

.card__list--work {
  display: flex;
  justify-content: space-between;
}

.card__elem--work {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  line-height: 180%;
}

.card__elem-logo--work {
  margin-bottom: 30px;
}

.card__elem-title--work {
  font-weight: 700;
  font-size: 18px;
}

.card__elem-text--work {
  height: 56px;
  text-align: center;
}

.card__container--reviews.active {
  display: block;
  position: relative;
  width: 100%;
  min-height: 461px;
  background-color: white;
}

.card__content--reviews {
  display: none;
}

.card__content--reviews.active {
  width: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 75px 20px;
}

.card__client-block {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 14px;
  color: #8F8F8F;
  gap: 10px;
  margin-right: 250px;
  margin-bottom: 60px;
}

.card__client-name {
  font-size: 18px;
  font-weight: 700;
  color: #2F2F51;
  margin-right: 40px;
}

.card__review {
  max-width: 800px;
  height: 280px;
  text-align: justify;
  overflow-y: auto;
  padding-right: 10px;
}

.card__container--reviews.active .prev {
  transform: translate(0, -50%);
  left: 35px;
  top: 45%;
}

.card__container--reviews.active .next {
  right: 35px;
  transform: translate(0, -50%);
  top: 45%;
}

.button--reviews {
  position: absolute;
  max-width: 215px;
  height: 55px;
  justify-content: center;
  background-color: #EF7F04;
  font-size: 16px;
  font-weight: 700;
  top: 57px;
  right: 100px;
}

.card__container--certificates {
  display: none;
}

.card__container--certificates.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 461px;
  background-color: white;
  user-select: none;
  padding: 0 100px;
}

/*----------------SLIDER CERTIFICATES-------------------------------------------------*/


.certificates-slider {
  position: relative;
  width: 100%;
  min-width: 0;
}
.certificates-slider .slick-list {
  overflow: hidden;
  min-width: 0;
}

.certificates-slider .slick-track {
  display: flex;
  gap: 11px;
}
.certificates-slider .slick-arrow {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  font-size: 0;
  width: 22px;
  height: 42px;
  z-index: 50;
}
.certificates-slider .slick-arrow.slick-next {
  background: url('../img/main/products/next.svg') 0 0 / 100% no-repeat;
  right: -40px;
}
.certificates-slider .slick-arrow.slick-prev {
  background: url('../img/main/products/prev.svg') 0 0 / 100% no-repeat;
  left: -40px;
}




.about__advantages-block {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 100px;
  padding: 70px 42px 50px;
}

.about__advantage-card {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  justify-items: start;


}

.about__advantage-img {
  grid-row: span 2;
  align-items: center;

}

.about__advantage-text {
  width: 190px;
  font-size: 14px;
}

.about__advantage-title {
  font-weight: 700;
}

.about__container .button--froze {
  max-width: 312px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
}



/*--------------POPUP ALL------------------------------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.8s ease 0s;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  padding: 30px 10px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.popup.open .popup__content {
  opacity: 1;
}

.popup__close {
  position: absolute;
  cursor: pointer;
}

/*--------------POPUP HEADER------------------------------------------------------*/

.request-popup__content {
  width: 595px;
  height: 519px;
  padding: 53px 100px 70px;
  background-color: #2F2F51;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.request-popup__content--froze {
  background-color: #EF7F04;
}

.request-popup__close {
  right: 20px;
  top: 26px;
}

.request-popup__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 115%;
  color: white;
  margin-bottom: 30px;
}

.request-popup__ico {
  margin-right: 25px;
}

.request-popup__form {
  width: 100%;
  height: 100%;
}

.request-popup__form > form {
  width: 100%;
  height: 100%;
}

.request-popup__inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.request-popup__inputs input {
  width: 395px;
  height: 50px;
  padding: 17px;
  border-radius: 3px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  outline: none;
}

.request-popup__inputs input::placeholder {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.request-popup__button input {
  color: #2F2F51;
  font-size: 16px;
  font-weight: 700;
  width: 258px;
  cursor: pointer;
}

.request-popup__button--froze input {
  color: #EF7F04;
  font-size: 16px;
  font-weight: 700;
  width: 258px;
}

.checkbox-container input {
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

.checkbox-container {
  align-self: flex-start;
  display: flex;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  align-items: center;
}

.checkblock__agree-span {
  color: black;
}

.checkblock__agree-span--calc {
  color: #EF7F04;
}

/*--------------POPUP SERVICES------------------------------------------------------*/
.services-popup__content {
  max-width: 1000px;
  height: 649px;
  padding: 50px 130px 40px 110px;
  background: white;
  z-index: 5;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 230px 1fr;
  row-gap: 36px;
}

.services-popup__content:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  height: 468px;
  background: linear-gradient(139.14deg, #FFFFFF 47.2%, rgba(255, 255, 255, 0) 110.17%, #FFFFFF 151.06%);
  border-radius: 10px;
}

.services-popup__close {
  top: 33px;
  right: 31px;
  z-index: 20;
}

.services-popup__background-img {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(1px, 0);
  border-radius: 10px;
}

.services-popup__bid-block {
  position: relative;
  z-index: 3;
}

.services-popup__bid-block {
  justify-self: end;
  align-self: start;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.services-popup__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
  color: #2F2F51;
  margin-bottom: 20px;
}

.services-popup__text {
  line-height: 115%;
  color: #2F2F51;
  margin-bottom: 20px;
}

.services-popup__sentence-block {
  position: relative;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 46% 46%;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 3;
  row-gap: 10px;
  column-gap: 30px;
}

.services-popup__sentence-container {
  display: flex;
}

.services-popup__sentence-logo {
  width: 80px;
  height: 70px;
  margin-right: 17px;
}

.services-popup__sentence-logo img {
  width: auto;
  height: 100%;
  margin-right: 17px;
}

.services-popup__sentence-card {
  color: #2F2F51;
  line-height: 115%;
  display: flex;
  flex-direction: column;

}

.services-popup__sentence-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
}

.services-popup__sentence-text {
  line-height: 115%;
  font-size: 13px;
}

/*--------------REVIEWS-POPUP-------------------------------------------*/
.review-popup__content {
  max-width: 595px;
  height: 667px;
  background-color: white;
  color: #2F2F51;
  border-radius: 30px;
  padding: 55px 100px;

}

.review-popup__close {
  top: 25px;
  right: 20px;
}

.review-popup__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

}

.review-popup__ico {
  width: 30px;
  height: 27px;
  margin-right: 45px;

}

.review-popup__inputs {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.review-popup__inputs input {
  width: 100%;
  height: 52px;
  border-radius: 3px;
  background-color: #E2E2E2;
  padding: 17px;
  font-size: 20px;
}

.review-popup__inputs input::placeholder {
  color: #424268;
  font-size: 16px;
}

.review-popup__inputs textarea {
  height: 134px;
  border-radius: 3px;
  background-color: #E2E2E2;
  padding: 17px;
  color: #424268;
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
  font-size: 16px;
}

.review-popup__inputs textarea::placeholder {
  color: #424268;
  font-size: 16px;
}

.review-popup__inputs .checkbox-container {
  align-items: center;
}

.review-popup__inputs .checkbox-container input {
  width: 25px;
  height: 25px;
  flex: 0 0 auto;
}

.review-popup__inputs .checkblock__agree {
  color: #424268;
  font-size: 14px;
}

.review-popup__button {
  align-self: center;
  width: 258px;

}

.review-popup__button input {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #EF7F1A;
}

/*---------SLIDER----------------------------------------------------------------------------------------------------*/
.services-popup__carousel-block img {
  width: 100%;
  height: 230px;
}

.services-popup__carousel-block {
  position: relative;
  width: 307px;
  height: 230px;
  margin: 0 auto 0 0;
  background-color: white;
}


.slider-list {
  list-style-type: none;
  position: relative;

}

.slider-element {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}

div.slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 3;
  text-align: center;
}

span.dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

